<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>

    <body>
        <div data-role="page">
            <div data-role="header">
                <h1>Anslutlib test page</h1>
            </div>

        {% for unit in units %}
            <div data-role="main" class="ui-content">
                <div class="ui-block-a"><legend>{{ unit.0 }}:</legend></div>
                <div class="ui-grid-a">
                    <div class="ui-block-a"><a href="?button={{ unit.1 }}&value=1" data-role="button">On</a></div>
                    <div class="ui-block-b"><a href="?button={{ unit.1 }}&value=0" data-role="button">Off</a></div>
                </div>
            </div>
        {% endfor %}

        </div>
    </body>
</html>
